<!--::header part start::-->
<app-navbar></app-navbar>
<!-- Header part end-->



<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Registre</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!-- ================ contact section start ================= -->
<section class="contact-section section_padding">
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm"
                    novalidate="novalidate">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input class="form-control" name="firstname" id="firstname" type="text"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your mail'"
                                    placeholder='Enter your firstname'>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input class="form-control" name="lastname" id="lastname" type="text"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter paassword '"
                                    placeholder='Enter lastname'>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="Phone">Phone</label>
                                <input class="form-control" name="Phone" id="Phone" type="text"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter paassword '"
                                    placeholder='Enter Phone'>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="Adresse">Adresse</label>
                                <input class="form-control" name="Adresse" id="Adresse" type="text"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter paassword '"
                                    placeholder='Enter Adresse'>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input class="form-control" name="Email" id="Email" type="text"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter paassword '"
                                    placeholder='Enter Email'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="switch-wrap d-flex justify-content-between col-2">
                            <p>Instructor</p>
                            <div class="primary-radio">
                                <input type="radio" id="default-radio" name="b">
                                <label for="default-radio"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between col-2">
                            <p>Confirm Dialog</p>
                            <div class="primary-radio">
                                <input type="radio" id="default-radio1"  name="b">
                                <label for="default-radio1"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="button button-contactForm btn_1">Registre</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>











<!-- footer part start-->
<app-footer></app-footer>
<!-- footer part end-->